<li class=" top-space bottom-space">
	<a href="<% if comment.author_url != nil %>  
			 	<%= comment.author_url %> 
			 <% else 
			    print '#' 
			 end %>">
		<%= comment.author_name %>
	</a><span class="normal-type-small">Posted <%= comment.created_at.strftime("%b %d %Y") %></p>
	<p class="normal-type embed"><%= comment.body %></p>
</li>