= title "Work and Side Projects"
#left-floater
  .blue-tag.rotate.shadow
    %p WORK
  #center-container
    #recone
      %a.next{:href => "#"} Next
      %a.previous{:href => "#"} Previous
      %ul.slider
        %li.excItem
          %h2.korny-type-small Excellence Initiative
          .snapshot-wrapper
            %img.snapshot{:alt => "Excellence Initiative", :src => "img/excellence_snap.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            A web site developed for the first stage of a big project for the Greek National Ministry of
            Education concerning the promotion of Excellence in Universities. The site acts as a promotional hub for the project and allows users
            to submit their proposals for Excellence from their respective departments, that will later on be evaluated by the Ministry and
            possibly picked for an annual Academic Excellence Convention in Greece.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML5/CSS/JavaScript
            %li AJAX
            %li CMS Integration
          %ul.technos-ext.normal-type
            %li Backend development
            %li Member management
            %li Performance optimization
            %li Server configuration & administration
          %a.visit-link{:href => "http://excellence.minedu.gov.gr/"} Visit the project
        %li.tsItem
          %h2.korny-type-small Tech Support Portal
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_ts.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            A web portal - online library dedicated to technical support documentation,
            how-tos and guides for Computer Lab administrators in Greek High and Elementary Schools. This web platform is part
            of the Greek School Network initiative and had to be designed and developed from the ground up. The CMS used is
            Joomla, with heavy customization to meet the project's needs.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS/JavaScript
            %li AJAX
            %li Template & Logo design
            %li Joomla CMS Integration
          %ul.technos-ext.normal-type
            %li CAS Login system
            %li Member management
            %li Performance optimization
            %li Server configuration & administration
          %a.visit-link{:href => "http://ts.sch.gr"} Visit the project
        %li.ditysItem
          %h2.korny-type-small Ditys
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_ditys.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            An informational web portal dedicated to the Infrastructure and Technical Support Sector of the
            Research Academic Computer Technology Insitute. This platform was built ontop of the Joomla CMS with modifications
            to support the Single Sign On login system via LDAP authentication as well as the member management system. The platform
            was developed for intranet-only use.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS/JavaScript
            %li AJAX
            %li Template & Logo design
            %li CMS integration
          %ul.technos-ext.normal-type
            %li Single Sign On Login system
            %li Member management
            %li Server administration
        %li.khomeItem
          %h2.korny-type-small Khome Productions Portfolio
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_khomep2.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            A photography portfolio that was developed for a client, Khome productions. The theme as
            requested was "simplicity" and the template was designed with that in mind. The site was integrated into Wordpress
            for ease of use by the client, and supports news and gallery management with a custom built gallery script running
            on the frontend.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS/JavaScript
            %li AJAX
            %li Template & Logo design
            %li Wordpress integration & customization
          %ul.technos-ext.normal-type
          %a.visit-link{:href => "http://khomeproductions.gr"} Visit the project
        %li.shopItem
          %h2.korny-type-small Khome productions E-shop
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_khomes.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            In accordance with their portfolio needs, Khome productions asked us to deliver an e-shop
            solution for online web sales of their clients' photos. The implementation is based on osCommerce with (really)
            heavy customization.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS/JavaScript
            %li Template & Logo design
            %li Customized orders system
            %li osCommerce Integration
          %ul.technos-ext.normal-type
          %a.visit-link{:href => "http://shop.khomeproductions.gr"} Visit the project
        %li.carnivalItem
          %h2.korny-type-small Carnival Patra
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_carnival.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            CarnivalPatra is a web site for people coming to the city of Patras in search of attractions,
            carnival groups and other activities in the period of Greece's most famous carnival. The site was implemented on Wordpress
            with some extra customization as far as member management is concerned.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS/JavaScript
            %li AJAX
            %li Template & Logo design
            %li Wordpress integration
          %ul.technos-ext.normal-type
            %li Member management
          %a.visit-link{:href => "http://carinivalpatras.gr"} Visit the project
        %li.pavItem
          %h2.korny-type-small Pavimento
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_pavimento.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            Pavimento is one of the leading Linoleum-based floor and wall dressing companies in Greece.
            As part of their collaboration with other European companies in the field, they asked for a simple website that would
            help inform their clients about what they do and get a glimpse of their handywork.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS
            %li Javascript
          %ul.technos-ext.normal-type
          %a.visit-link{:href => "http://pavimento-art.gr"} Visit the project
    .green-tag.rotate.shadow
      %p ON THE SIDE
    #rectwo
      %a.next{:href => "#"} Next
      %a.previous{:href => "#"} Previous
      %ul.slider
        %li.issuesItem
          %h2.korny-type-small Issues Tracker
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_issues.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            A simple issue tracker which was built and used during the development of the Tech Support
            Portal. The issue tracking of CVS systems such as BitBucket or GitHub was just too complex for the needs of the
            project and the number of people involved in it (One developer and one project manager), so I developed this handy tool
            to be able to publish issues fast and easy on a single feed like web app.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li HTML/CSS
            %li AJAX
            %li Javascript
            %li UI design
          %ul.technos-ext.normal-type
          %a.visit-link{:href => "http://bitbucket.org/spyros_l/issues"} Visit the project
        %li.financoidItem
          %h2.korny-type-small Financoid Android App
          .snapshot-wrapper
            %img.snapshot{:alt => "Ditys - CTI website", :src => "img/main_snap_financoid.jpg"}/
          %h3.container-header-brief Brief description
          %p.description.normal-type
            As part of my undergraduate thesis at the Computer Engineering & Informatics Department of the
            UoP I developed an Android Application for handheld devices which simplifies the task of keeping track of ones everyday
            expenses. The app lets the user handle their monthly and total budget, create new budget categories and watch their spending
            expense patterns per month and budget category.
          %h3.container-header-tech My Involvement
          %ul.technos.normal-type
            %li Java development on the Android SDK
            %li UI design
          %a.visit-link{:href => "http://bitbucket.org/spyros_l/app.financoid"} Visit the project
  / end of #center-container