<div class="post">
	<p class="korny-type"><%= postindex.title %></p>
	<img class="bubble" src="img/thought_bubble.png" alt="" />
	<p class="date-type embed"><%= postindex.created_at.strftime(" %b %d %Y") %></p>
	
	<%= link_to "Full post", postindex, :class => "wholelink" %>
</div>