<div class="post">
	<p class="korny-type"><%= post.title %></p>
	<img class="bubble" src="img/thought_bubble.png" alt="" />
	<p class="date-type embed"><%= post.created_at.strftime(" %b %d %Y") %></p>
	<%= simple_format(post.body) %>
	
	<%= link_to "Full post", post, :class => "wholelink" %>
</div>