<article class="post">
  <div class="about">
	  <h2>About Me</h2>
	  
	  <img src="/images/avatar_bw.jpg" title="My Profile pic" />
	  <p>Hello, my name is Spyros Livathinos. I'm a Web Engineer based in Patras, Greece. I currently work at the Computer Technology Institute of Patras, where I keep myself busy with code on a daily basis, filling roles in developing and maintaining the web stack of various projects. I hold a BS degree in Computer Engineering from the University of Patras and am currently studying for an MSc degree in Computer Science.</p>
	  <p>I have always been passionate about the web, loving the logic and challenges of backend and database engineering, deployment automation and server setup while keeping a keen eye on the details of the frontend user experience and overall design of applications. Lately my main focus has been developing web applications using Java and Ruby on Rails.</p>
	  <p>During my off hours I usually experiment with various new web technologies or check out new languages. I also am a proud <a href="https://mozillians.org/en-US/" title="My Mozilla Contributor profile">Mozillian</a> and contribute to the Firefox Developer Tools.</p>
	  <p>In no particular order, here is a brief list of my skills: Java, PHP, Ruby on Rails, MySQL, Oracle ORDBMS, Git, Mercurial, JavaScript, jQuery, HTML, CSS, Android SDK, Adobe Photoshop, Adobe Illustrator.</p>
	  <p>For more information about me, you can always have a look at my (currently desperate for an update!) <a href="/resume.pdf" title="My Resume">resume</a>. Feel free to drop me a line at livathinos.spyros[at]gmail[dot]com or follow me on <a href="https://twitter.com/spyrosl">Twitter</a>.</p>
	  
	</div>
</article>