-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all', :cache => 'cache/all'

= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic', :media => 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quando', :media => 'all'
-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets